@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --surface-ground-b: #f2f3f5;
}

html {
    font-size: 14pt;
}

body {
    background-color: var(--surface-ground-b);

    font-family: var(--font-family) !important;
    // color: #3d4852;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d4852;
}

html .p-menubar .p-menuitem-link .p-menuitem-text {
    color: #3d4852;
} 

html .p-menubar {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

a:hover {
    text-decoration: underline;
}

.p-router-link {
    color: var(--text-color) !important;
}

.p-hidden-accessible {
    /* display: none; */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.p-datatable, .p-button, .p-component, .p-inputtext {
    font-size: 0.9rem !important;
}

.p-inputtext {
    // padding: 0.5rem !important;
}

.p-datatable .p-sortable-column.p-highlight {
    background-color: transparent !important;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: 1.15rem;
    font-weight: 500;
}

.p-datatable-tbody>tr>td {
    padding: 0.25rem 0.5rem !important;
}

.p-info-item-header {
    // font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

::v-deep .in-exception {
    background-color: var(--red-200) !important;
}

::v-deep .is-sub {
    background-color: var(--yellow-300) !important;
    color: var(--yellow-900) !important;
}

$text-color: #3d4852;